.green-underline {
  display: block;
  width: 12%;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  left: 1px;
  bottom: -4px;
}

.add-icon {
  color: var(--primary);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s;
}

.add-icon:hover {
  color: #10b981;
}

.totaly {
  color: var(--primary);
  font-weight: 700;
}
