:root {
  --primary-color: #2015ea;
  --primary-color-light: #6861f1;
  --secondary-color: #c0dbea;
  --text-dark: #020617;
  --text-light: #8995a7;
  --white: #ffffff;
  --gray: #f4f4f4;
  --mena: red;
  --max-width: 1200px;
}
.sidebar {
  position: fixed;
  top: 0%;
  left: 0;
  height: calc(100% - 60px);
  width: 20%;
  background-color: var(--white);
  color: var(--text-dark);
  padding: 20px;
  overflow-y: auto;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 3;
  transition: transform 0.3s ease-in-out; /* Smooth transition for show/hide */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.sidebar-logo {
  width: 100%;
  height: 20%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--secondary-color);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 2%;
}
.logo {
  border: 2px solid var(--secondary-color);
  margin-bottom: 2%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  width: 100%;
}

.sidebar ul li {
  margin-bottom: 10px;
  padding: 0% 1%;
  /* border-bottom: 1px solid var(--text-light); */
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-dark);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
  font-weight: unset;
  padding-left: 6%;
  border-left: 6px solid var(--secondary-color);
}

.sidebar ul li a span {
  margin-right: 10px; /* Espacement entre l'icône et le texte */
}
.sidebar ul li a p {
  margin: 0;
  padding: 8%;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.sidebar ul li:hover a {
  color: var(--primary-color);
  font-weight: bold;
  background-color: var(--gray);
  border-left: 6px solid var(--primary-color);
}

.sidebar ul li.active a {
  color: var(--primary-color);
  border-left: 6px solid var(--primary-color);
  font-weight: bold;
  background-color: var(--gray);
}

@media (width < 900px) {
  .logo {
    margin-bottom: 0%;
  }
}

/* @media (width < 650px) {
  .sidebar {
    display: none;
    height: calc(100% - 60px);
    width: 0%; 
  }
} */
