:root {
  --primary-color: #2015ea;
  --primary-color-light: #6861f1;
  --secondary-color: #c0dbea;
  --text-dark: #020617;
  --text-light: #8995a7;
  --white: #ffffff;
  --max-width: 1200px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.drop_item {
  display: flex;
  flex-direction: row;
}
.drop_item p,
.drop_item b {
  padding: 0% 2%;
}
.dropdown-menu {
  position: absolute;
  top: 180%;
  left: -150%;
  transform: translateY(0);
  z-index: 3;
  min-width: 200px;
}
.logo {
  border: 2px solid var(--secondary-color);
}
.inputRecherche {
  position: relative;
}
.searchIcon {
  display: block; /* Show search icon by default */
  cursor: pointer;
}
.profile-pic {
  cursor: pointer;
}
.user-box {
  margin-left: 2%;
  width: 90%;
}
.u-img img {
  width: 80%;
}
.u-text {
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0% 3%;
  margin: 0% 1%;
  cursor: pointer;
}

.dropdown-item span {
  padding: 0% 3%;
}

@media (width < 550px) {
  .drop_item {
    display: flex;
    flex-direction: column;
  }
 
}
