:root {
  --primary-color: #2015ea;
  --primary-color-light: #6861f1;
  --secondary-color: #c0dbea;
  --text-dark: #020617;
  --text-light: #8995a7;
  --white: #ffffff;
  --max-width: 1200px;
}
body {
  background-color: rgb(224, 224, 224);
}
 
.contenu {
  margin-top: 7%;
  margin-left: 20%;
  padding: 20px;
  width: 80%;
  background-color: var(--white);
}

